.MiniCart {
  width: 300px;
  min-height: 500px;
}

.MiniCart-empty {
  padding-top: 50px;
  text-align: center;
}

.MiniCart-empty > h3 {
  margin-bottom: 10px;
}

.MiniCart-empty > button {
  padding: 4px 8px;
}

.MiniCart-items-div {
  height: 350px;
}

.MiniCart-item-image {
  width: 100%;
  height: 100px;
}
